<% include ./partials/header %>
<% var numResults = 0; %>

<h1>Game Results Page</h1>


<% entries.forEach(function(results){ %>
    <% if ((speaking === results.nativeLang) && (learning === results.practLang)) { %>
        <% numResults = numResults + 1; %>
    <% } %>
<% }); %>

<h3><%= numResults %> results found.</h3>


<% entries.forEach(function(results){ %>
    

        <% if ((speaking === results.nativeLang) && (learning == results.practLang)) { %>
            <li>
            <p><a href="/users/<%= results.id %>"><%= results.username %></a></p>
            <p>Country: <%= results.country %></p>
            <p>Speaking: <%= results.nativeLang %></p>
            <p>Learning: <%= results.practLang %></p> 
            <p>Summary: <%= results.desc %></p>
            </li>
        <% } %>
    
    <% }); %>  </li>



<% include ./partials/footer %>