<% include ./partials/header %>


<div class="marginTop card text-white text-center mx-auto" style="width: 20rem">
    <div class="card-body">

<form action="/message/<%=user._id%>" method="POST">
    <div class="form-group">
        <div class="align-items-center">
    <p></p>
    <h2>Send Message to <%=user.username%></h2>
    
        <div>
            <textarea class="form-control" rows="4" cols="35" name="content" placeholder = "Type message here"></textarea>
            <input type="hidden" name="currentuser" value="<%=currentUser.username%>">
            <input type="hidden" name="currentUserID" value = "<%=currentUser.id%>">
            <input type="hidden" name="recipientID" value = "<%=user._id%>">
        </div>
    <button class="btn btn-primary mt-3">Submit</button>
        </div>
    </div>   
</form>

    </div>
</div>


<% include ./partials/footer %>